<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!--        <property name="connection.url">jdbc:h2:file:./db/save</property>-->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="connection.pool_size">100000</property>
        <!--        <property name="connection.url">jdbc:h2:/Users/james/IdeaProjects/Hibernate-Football/db/default</property>-->

            <!--        <property name="hibernate.hbm2ddl.auto">update</property>-->

        <mapping class="entities.PlayersEntity"/>
        <mapping class="entities.TeamsEntity"/>
        <mapping class="entities.NationalityEntity"/>
        <mapping class="entities.PlayerStatsEntity"/>
        <mapping class="entities.PositionsEntity"/>
        <mapping class="entities.FormationsEntity"/>
        <mapping class="entities.LeaguesEntity"/>
        <mapping class="entities.RatingWeightsEntity"/>
        <mapping class="entities.PositiontypeEntity"/>
        <mapping class="entities.AttackWeightsEntity"/>
        <mapping class="entities.DefenceWeightsEntity"/>
        <mapping class="entities.PlayerRatingsEntity"/>

        <!--        <property name="hibernate.hbm2ddl.auto">create</property>-->
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->

    </session-factory>
</hibernate-configuration>